<br>
<div>
    <span>Nome: </span><input type="text">
    <br>
    <span>Matricula: </span><input type="text">
    <br>
    <span>Departamento:</span><input type="text">
    <br>
    <span>Disciplina:</span><input type="text">
    <br>
    <button (click)="cadastroProfessor()">Confirmar</button>
  </div>

  <br>

<div>
    <h1>Lista de Professores</h1>
    <table>
        <thead>
                <th>Nome</th>
                <th>Professor</th>
        </thead>
        <tbody>
            <tr *ngFor="let professor of professores">
                    <td>{{professor.nome}}</td>
                    <td>{{professor.matricula}}</td>
                    <td>{{professor.turma}}</td>
            </tr>

        </tbody>
    </table>
</div>

<button (click)="carregarProfessor()">Carregar Professors</button>
