<br>
<div>
    <span>Nome: </span><input type="text">
    <br>
    <span>Código: </span><input type="text">
    <br>
    <button (click)="cadastroDisciplinaa()">Confirmar</button>

</div>

<br>

<div>
    <h1>Lista de Disciplinas</h1>
    <table>
        <thead>
                <th>Nome</th>
                <th>Disciplina</th>
        </thead>
        <tbody>
            <tr *ngFor="let disciplina of disciplinas">
                    <td>{{disciplina.nome}}</td>
                    <td>{{disciplina.codigo}}</td>
            </tr>

        </tbody>
    </table>
</div>

<button (click)="carregarDisciplinas()">Carregar Disciplinas</button>
