<br>
<div>
    <span>Nome: </span><input [(ngModel)]="nome" type="text">
    <br>
    <span>Código: </span><input [(ngModel)]="codigo" type="text">
    <br>
    <span>Horas Obrigatorias: </span><input [(ngModel)]="horasObrigatorias" type="number">
    <br>
    <span>Carga Horaria: </span><input [(ngModel)]="cargaHoraria" type="number">
    <br>
    <span>Creditos: </span><input [(ngModel)]="creditos" type="number">
    <span>Departamento: </span>
    <select  [(ngModel)]="deptId">
        <option  *ngFor="let dept of departamentos" value={{dept.id}}>
            {{dept.nome}}
        </option>
    </select>
    <button (click)="cadastroCurso()">Confirmar</button>
</div>


<br>

<div>
  <h1>Lista de Cursos</h1>
  <table>
      <thead>
              <th>Nome</th>
              <th>Curso</th>
      </thead>
      <tbody>
          <tr *ngFor="let curso of cursos">
                  <td>{{curso.nome}}</td>
                  <td>{{curso.codigo}}</td>
                  <td>{{curso.horasObrigatorias}}</td>
                  <td>{{curso.cargaHoraria}}</td>
                  <td>{{curso.creditos}}</td>
                  <td>{{curso.departamento}}</td>
                  <td>{{curso.optativas}}</td>
                  <td>{{curso.obrigatorias}}</td>
          </tr>

      </tbody>
  </table>
</div>

<button (click)="carregarCursos()">Carregar Curso</button>

