<br>
<div>
  <span>Nome: </span><input type="text">
  <br>
  <span>Código: </span><input type="text">
  <br>
  <span>Professor:</span><input type="text">
  <br>
  <button (click)="cadastroDepartamento()">Confirmar</button>
</div>

<br>

<div>
  <h1>Lista de Departamentos</h1>
  <table>
      <thead>
              <th>Nome</th>
              <th>Departamento</th>
      </thead>
      <tbody>
          <tr *ngFor="let departamento of departamentos">
                  <td>{{departamento.nome}}</td>
                  <td>{{departamento.codigo}}</td>
                  <td>{{departamento.professor}}</td>
          </tr>

      </tbody>
  </table>
</div>

<button (click)="carregarDepartamentos()">Carregar Departamentos</button>

